
body {
	background-image: url("material-design-color.jpg");
}

h1 {
	color: white;
	letter-spacing: 10px;
}

ul {
	list-style: none;
	font-size: 100px;
}

p {
	font-size: 60px;
}

li {
	text-align:  center;
	margin: 50px 10px 10px 50px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #4773f7;
}

section {
	height: 100vh;
}

#welcome-section {
	background-color: rgb(71, 194, 247);
	text-align: center;
}

#hobby {
	background-color: rgb(40, 162, 214);
}

#hobby ul {
	font-size: 50px;
} 

#recommendation {
	background-color: rgb(19, 130, 178);
}

#about {
	background-color: rgb(15, 109, 150);
}

#contact {
	background-color: rgb(6, 80, 112);
}